.main {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 48px 32px 90px;
}

.visual {
  display: grid;
  place-items: center;
}

@media (max-width: 820px) {
  .main {
    grid-template-columns: 1fr;
  }
}
