PORT=3000
RPC_URL=https://coston2-api.flare.network/ext/C/rpc
VERIFIER_URL=
VERIFIER_API_KEY=
DA_LAYER_URL=
PAYBOND_ADDRESS=
FDC_HUB_ADDRESS=
FEE_CONFIG_ADDRESS=
PRIVATE_KEY=
FIRST_VOTING_ROUND_TS=
VOTING_EPOCH_SECONDS=90
XRPL_EXPLORER_URL=https://testnet.xrpl.org
